header{
	background: #e4803d;
	border-radius: 70%;	
}
.font1 , .font2{
	font-family: 'Pacifico';
}
.font1{
	transform: rotate(-25deg);
}
.font2{
	transform: rotate(25deg);
}
nav{
	margin-top:10px;
	background-color: burlywood;
}
nav li{
	list-style: none;
	font-style: oblique;
	font-weight:500;
	transition: all .5s ease-in-out;
}
nav li:hover{
	color: green;
	font-weight: bold;
	transform: scale(1.2);
	cursor: pointer;
	
}